.main-section{
    background: url("images/Recruiting.png");
    height: 528px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.main-roles__heading{
    margin: 2rem 0rem;
    text-align: center;
    color: #2D64B6;
}

.main-roles{
    text-align: center;
   
}
.role{
    display: inline-block;
    text-align: center;
    padding: 1rem;
    margin: 1rem 1rem;
    width: 30%;
    vertical-align: middle;
    background-color: #fa923f;
    border-radius: 1.5rem;
}


.role--title{
    background-color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
    color:  #2D64B6;
    font-weight: bold;
}

.role--price{
    color: white;
    font-weight: bold;
}

.role--sub{
    color: white;
    font-weight: bold;
}

.role__features{
    margin: 0.5rem;
    padding: 0;

}

.role__feature{
    list-style: none;
    color: white;
    padding: 0.2rem;
}

.button{
    padding: 0.8rem;
    background-color: #2D64B6;
    color: white;
    border-radius: 0.5rem;
    font-weight: bold;
    font-style: inherit;

}

.button:focus{
    outline: none;
}



